[submodule "external/MemoryModule"]
	path = external/MemoryModule
	url = https://github.com/fancycode/MemoryModule
[submodule "external/injector"]
	path = external/injector
	url = https://github.com/ThirteenAG/injector
